:root {
    --header-height: 120px;
    --page-width: 1204px;
    --top-color: #293c2f;
    --side-color: #fff;
    --side-text-color: #000;
    --middle-color: #fff;
    --middle-text-color: #000;
    --stats-width: 200px;
    --occupation-width: 750px;
    --games-width: 250px;
    --headline-margin: 20px;
    --headline-padding: 4px;
    --border-size: 2px;
}

@media print {
    .new-page {
        page-break-before: always;
    }

    .print-fake-header {
        height: 120px;
    }
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Oswald', sans-serif;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    width: var(--page-width);
    background-color: var(--top-color);
    height: var(--header-height);
}

.fake-header {
    height: var(--header-height);
}

.header-image {
    position: relative;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

.header-name {
    background-color: var(--top-color);
    position: relative;
    line-height: var(--header-height);
    float: left;
    font-size: 40px;
}

.header-contact {
    background-color: var(--top-color);
    position: relative;
    line-height: calc(var(--header-height) / 4);
    float: right;
    text-align: right;
    font-size: 15px;
    padding-right: 30px;
}

#wrapper {
    width: var(--page-width);
    background-color: #aaa;
}

#stats {
    width: var(--stats-width);
    background-color: var(--side-color);
    color: var(--side-text-color);
    float: left;
}

.stat-header {
    width: 100%;
    text-align: center;
}

.stat-name {
    float: left;
    width: 60%;
    padding-right: 5px;
}

.stat-score {
    text-align: right;
    float: right;
    padding-right: 5px;
}

.stat-score-on {
    color: #000
}

.stat-score-off {
    color: #fff;
}

#occupation {
    width: var(--occupation-width);
    background-color: var(--middle-color);
    color: var(--middle-text-color);
    float: left;
    border-right: 2px solid var(--top-color);
    border-left: 2px solid var(--top-color);
}

.occupation-highlights {
    width: 100%;
}

.occupation-date {
    width: calc((var(--occupation-width) / 2) - var(--headline-margin) - (var(--headline-padding) * 2));
    color: #fff;
    background-color: var(--top-color);
    margin-left: var(--headline-margin);
    margin-top: var(--headline-margin);
    padding: var(--headline-padding);
    float: left;
}

.occupation-employer {
    width: calc((var(--occupation-width) / 2) - var(--headline-margin) - (var(--headline-padding) * 2));
    color: #fff;
    background-color: var(--top-color);
    margin-right:  var(--headline-margin);
    margin-top: var(--headline-margin);
    padding: var(--headline-padding);
    float: right;
    text-align: right;
}

.occupation-position {
    padding-right: 20px;
    text-align: right;
}

a {
    color: red;
    text-decoration: none;
}

a.visited {
    text-decoration: none;
}

.occupation-link {
    font-size: 16px !important;

}

.occupation-details {
    padding: 20px;
}

#games {
    width: var(--games-width);
    background-color: var(--side-color);
    float: left;
}

.played-game {
    width: 90%;
}